:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/* Start Box */
.d-flex {
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}

.d-grid {
  display: grid;
}
.g-20 {
  gap: 20px;
}

.d-block {
  display: block;
}

/* End Box */

/* Start Width + height */
.w-100 {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
.h-100 {
  height: 100%;
}

.w-100p {
  width: 100px;
}
.h-100p {
  height: 100px;
}

/* End Width + height */
/* Start Styling */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pr-20 {
  padding-right: 20px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.m {
  margin: 20px;
}
.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}
.m-15 {
  margin: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 10px;
}
.mt-0 {
  margin-top: 0px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-5 {
  margin-left: 5px;
}
.mt-0 {
  margin-top: 0;
}

.bg-eee {
  background-color: #eee;
}
.bg-white {
  background-color: white;
}
.c-white {
  color: white;
}
.c-grey {
  color: var(--grey-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-green {
  color: var(--green-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-red {
  color: var(--red-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.rad-7 {
  border-radius: 7px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-50 {
  border-radius: 50%;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.txt-c {
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
.c-black {
  color: black;
}
.border-c {
  border: 1px solid #ccc;
}
.borderB-c {
  border-bottom: 1px solid #ccc;
}
.border-n {
  border: none;
}
/* End Styling */
/* Start Component */
.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-shape {
  padding: 4px 25px;
  border-radius: 7px;
}
/* End Component */

/* Start Queries */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .txt-c-mobile {
    text-align: center;
  }
  .block-mobile {
    display: block;
  }
}
/* End Queries */
